.facebook{
    color: rgb(253, 251, 251);
    text-align: center;
    background-color: rgb(32, 127, 228);

}
h4{
    text-align: left;
    font-weight: bold;
    font-size: large;
    
}
.enter_email{
    width: 1300px;
    height: 20px;
}
.cancel{
    margin-top: 15px;
    background-color: rgb(21, 108, 208);
    height: 25px;
    width: 650px;
    text-align: center;
    color: white;
    padding-top: 5px;
    display:inline-block;
      
}
.search{
    margin-top: 15px;
    margin-left: 3px;
    background-color: rgb(21, 108, 208);
    height: 25px;
    width: 650px;
    text-align: center;
    color: white;
    padding-top: 5px;
    display:inline-block;

}
p{
    text-align: center;
    color: rgb(10, 134, 229);
}
h1{
    color: rgb(32, 28, 28);
    
}