.facebook{
    color: rgb(251, 251, 251);
    text-align: center;
    background-color: rgb(32, 127, 228);

}

.email{
    text-align: center;
    align-items: center;
    height: 25px;
    width: 800px;
    margin-left: 250px;
    
    
}

.password{
    text-align: center;
    margin-top: 5px;
    align-items: center;
    height: 25px;
    width: 800px;
    margin-left: 250px;

}

.button{
    text-align: center;
    align-items: center;
    height: 25px;
    width: 50px;
    margin-left: 370px;
    color: white;
    font-weight: bold;
    /* background-color: rgb(26, 134, 228); */

}
.login{
    text-align: center;
    margin-top: 5px;
    align-items: center;
    height: 25px;
    width: 800px;
    margin-left: 250px;
    background-color: rgb(14, 104, 230);
    color: white;
    font-size: large;
   
}

p{
    text-align: center;
    margin-right: 40px;
   
    color: blue;
}

.creat_new_account{
    text-align: center;
    margin-top: 5px;
    align-items: center;
    height: 25px;
    width: 400px;
    margin-left: 450px;
    background-color: rgb(8, 196, 8);
    color: white;
    font-size: large;
}
